# Disable integrity checks
integrity=false
# Use the official npm registry
registry=https://registry.npmjs.org/
# Don't create package-lock.json
package-lock=false
# Don't show funding messages
fund=false
# Don't run audit
audit=false 